.comment{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    background-color: #eee8dfdc;
    border-radius: 10px;
    margin: 20px 0;
    padding: 0 50px;
}
.pic{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    background-color:#fff ;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #3f2e11b7;
    position: relative;
}
/* .pic:hover{
    opacity: 0.8;
} */
.pic .text{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: rgba(12, 12, 12, 0.219);
    border-radius: 10px;
    font-size: 20px;
    opacity:0 ;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text p{
    color: #fff;
    background-color:#3f2e11b7;
    box-shadow: 2px 2px 2px #bcaf9bdc;
    padding: 20px;
    border-radius: 10px;
}
.pic:hover .text{
    opacity: 1;
}
.product_name{
    font-size: 15px;
    margin: 10px 0;
    line-height: 1.5;
}
.price{
    font-size: 18px;
    display: inline-block;
    color: crimson;
    font-weight: bold;
    letter-spacing:3px;
}
.product_img{
    width: 150px;
    height: 150px;
}
.content{
    margin: 20px;
    padding: 0 20px;
}
.star{
    width: 70px;
    margin: 30px 0;
}
.order_num{
    color: rgba(70, 70, 70, 0.808);
}
.feedback{
    line-height: 2;
    width: 90%;
}
.time{
    margin-top: 50px;
    text-align: right;
    color: rgba(70, 70, 70, 0.808);
}
.page_next{
    margin-bottom: 70px;
    position: relative;
}
#page_btn{
    display: inline-block;
    transform: rotate(180deg);
    width: 30px;
    position: absolute;
    right: 13%;
    top: 10px;
}