@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
    padding-top: 50px;
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    max-width: 1263px;
    margin: auto;
}
#on_page::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 0;
    border-bottom: 2px solid #3D2C07;
}
.header{
    background-color: #bcaf9bdc;
    width: 100%;
    top: 0;
    left: 0;
    height:50px;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
}
.header_icon{
    height: 30px;
    margin-right: 10px;
    display: flex;
}
.header_icon a{
    transform: translateY(0);
    transition: .3s;    
}
.header_icon a:hover{
    transform: translateY(-5px);
}
.logo{
    display: block;
    margin-left: 50px;
}
.logo img{
    width: 200px;
}
nav{
    display: inline-block;
    margin-right: 100px;
}
nav a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    color: black;
    transform: translateY(0);
    transition: .3s;
    letter-spacing: 3px;
}
nav a:hover{
    transform: translateY(-5px); 
}
nav a:after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #3D2C07;
    transition: .3s;
}
nav a:hover:after{
    left: 0;
    right: 0;
}
.shop {
    float: left;
    overflow: hidden;
}
.mall{
    position: relative;
}

.header__sublink{
    overflow: hidden;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.header__sublink a {
    background-color:#ddccb28f ;
    color: black;
    border-radius: 10px;
    float: left;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    margin:5px 3px;
}
.header__sublink a:hover{
    background-color:#3D2C07;
    color: beige;
}
.shop:hover .header__sublink {
    display: block;
}

  /* footer */
.footer{
    background-color: 
    #3D2C07;
    height: 175px;
    color: rgba(247, 245, 243, 0.794);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items:flex-start;
    padding-top: 50px;
    letter-spacing: 1px;
    width: 100%;
}
.contact{
    margin: 0 30px;
}
.guideline{
    margin:0 30px;
}
.contact p,.guideline p{
    line-height: 1.5;
}
.guideline a{
    color: rgba(247, 245, 243, 0.794);
    text-decoration: none;
    display: block;

}
.follow{
    margin:0 30px;
}
.follow h3{
    text-align: center;
}
.fb{
    margin: 0 30px;    
}
#fb_banner{
    width: 300px;
}
.footer h3{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 30px;
}

/* copyright */
.copyright{
    display: block;
    font-size: 10px;
    color: #fcfcfca8;
    background-color: #3D2C07;
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #bcaf9ba8;
    line-height: 1.2;
}