body{
    background-color: #f1f1ee;
    position: relative;
}
.region{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.region a{
    display: flex;
    height: 30px;
    text-decoration: none;
    color: #2b200a;
}
.position{
    margin: 0 10px;
    box-sizing: border-box;
}
.map_icon{
    position: relative;
}
.region a:hover .map_icon{
    transform: scale(1.2);
    transition:all 0.5s ease 0s;
    filter: invert(13%) sepia(99%) saturate(2853%) hue-rotate(353deg) brightness(112%) contrast(88%);
}
.position h2{
    font-size: 20px;
    padding: 5px;
    letter-spacing: 3px;
}
/* 虛線 */
.dotted_line{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    opacity: 0.8;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    justify-content: center;
    align-items: center;
    /* width: 70%; */
    padding: 30px;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
}
.pic{
    /* width: 50%; */
    position: relative;
}
.pic h3{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgb(241, 227, 207);
    padding: 10px 5px;
    letter-spacing: 2px;
    z-index: 5;
    box-shadow: 1px 1px 3px #2b200a93;
}
.pic::after{
    content: '';
    width: 0;
    height: 0;
    border-top: 50px solid #2b200a93;
    border-left: 60px solid #2b200a93;
    border-bottom: 50px solid #2b200a00;
    border-right: 60px solid #2b200a00;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 1;
}
.shop_pic{
    width: 400px;
    box-shadow: 1px 1px 3px #2b200a93;
}
.text{
    width: 400px;
    padding: 20px;
    box-shadow: 1px 1px 3px #2b200a93;
    box-sizing: border-box;
    /* margin-right: 60px;  */
    background-color: rgb(238, 227, 213);
    position: relative;
    letter-spacing: 1px;
}
.text h3{
    font-size: 18px;
    margin: 5px 0 10px 10px;
}
.text p{
    line-height: 1.5;
    margin-bottom: 10px;
    margin-left: 10px;
}

.google_map{
    position: absolute;
    right: 0px;
    bottom: 30px;
}
.google_map img{
    width: 50px;
}
/* 放大 */
.google_map:hover{
    transform: scale(1.1);
    transition:all 0.5s ease;
}

.about_shop{
    position: relative;
}
.about_en{
    margin-top: 20px;
}
.small_pics{
    display: flex;
    justify-content:space-between;
}
.small_pic{
    width: 100px;
    margin: 10px;
    cursor: pointer;
}
.small_pic img{
    width: 100%;
}
.small_pic img:hover{
    transform: scale(1.1);
    transition: .5s;
}
.bigimg_div{
    display: block;
    position: absolute;
    z-index: 9999;
    left: 20%;
    width: 60%;
    padding: 10px;
    background-color:#ffffff;
    transition: 1s;
}
.togray{
    filter: grayscale(100%)brightness(80%);
}
.bigimg{
    width: 100%;
    vertical-align: middle;
}
.close{
    position: absolute;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 20px;  
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    color: #2b200a;
    background-color: #dbdbdb;
    cursor: pointer;
}
.close:hover{
    opacity: .8;
}
/* 手機以下 */
@media screen and (max-width:768px){
    .position{
        display: flex;
        align-items: center;
    }
    .position h2{
        font-size: 18px;
        padding: 0;
        letter-spacing: 1px;
    }
    .card{
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    .bigimg_div{
        left: calc(5% - 10px);
        width: 90%;
    }
    .shop_pic,.text{
        width: 100%;
    }
}